@import url("https://fonts.googleapis.com/css?family=Muli:400,700");

:root {
	--primary-color: #ff533d;
	--lh: 25px;
}


/* html, body {
	height: 100%;
	width: 100%;
	padding: 0 1vw;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

* {
	box-sizing: border-box;
	margin: 0;
}
/* Typography settings (Gridlover) */
html,
.root {
	height: 100%;
	width: 100%;
	padding: 0 1vw;
	margin: 0;
	font-size: 18px;
	line-height: var(--ln);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}

body,
.article {
	background: #FAFAFA;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 1em;
	line-height: 1.38888889em;
	max-width: 560px;
	margin: auto;
}

h1,
.h1 {
	font-size: 4.11111111em;
	line-height: 1.01351351em;
	margin-top: 0.33783784em;
	margin-bottom: 0.67567568em;
}

h2,
.h2 {
	font-size: 2.55555556em;
	line-height: 1.08695652em;
	margin-top: 0.54347826em;
	margin-bottom: 0.54347826em;
}

h3,
.h3 {
	font-size: 1.61111111em;
	line-height: 1.72413793em;
	margin-top: 0.86206897em;
	margin-bottom: 0em;
}

h4,
.h4 {
	font-size: 1em;
	line-height: 1.38888889em;
	margin-top: 1.38888889em;
	margin-bottom: 0em;
}

h5,
.h5 {
	font-size: 1em;
	line-height: 1.38888889em;
	margin-top: 1.38888889em;
	margin-bottom: 0em;
}

p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 0em;
	margin-bottom: 1.38888889em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0em;
	margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
	line-height: 0;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

a {
	text-decoration: none;
	color: #333;
}

.loading {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f9;
	background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer{
  0% {
      background-position: -468px 0;
  }
  100% {
      background-position: 468px 0;
  }
}